<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>
    {% if value == 'Hello Python' %}
    Hello Python
    {% else  %}
    Hello Django!
    {% endif %}
    </span>
    <br/><br/><br/><br/><br/>
    <span>{{ number }}</span>
    <br><br><br><br><br>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-xs-6 col-md-3 text-center" style="border: solid 1px #9d0f31;">
                <br/>
                <br/>
            </div>
            <div class="col-xs-6 col-md-3 text-center" style="border: solid 1px #9d0f31;">
                <br/>
                <br/>
            </div>
            <div class="col-xs-6 col-md-3 text-center" style="border: solid 1px #000000;">
                <br/>
                <br/>
            </div>
            <div class="col-xs-6 col-md-3 text-center" style="border: solid 1px #000000">
                <br/>
                <br/>
            </div>
            <div class="col-xs-6 col-md-3 text-center" style="border: solid 1px #000000">
                <br/>
                <br/>
            </div>
        </div>
    </div>
</body>
</html>