{% extends 'navbar.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
    <br/>
    <br/>
    <div class="container">
        <h1>Login</h1>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div>
        <div class="btn-group btn-group-lg">
            <a href="#" class="btn btn-sm btn-success">Login</a>
        </div>
    </div>
{% endblock %}